has nix && use nix
dotenv_if_exists

source ~/.config/packet/api

export TF_VAR_device_type=c3.small.x86
export TF_VAR_facility=dc13
export TF_VAR_metal_api_token=$METAL_AUTH_TOKEN
export TF_VAR_project_id=$METAL_PROJECT_ID
export TF_VAR_ssh_private_key=/home/manny/.ssh/packet-ssh-config/packethost_ed25519
